.questionsPageContent {
  width: 80vw;
  margin: 2rem auto;
}

.questionsPageContentTop {
  background: var(--white-color);
  box-shadow: 0 0 4px 4px var(--background-color-darker);
  padding: 1rem;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
}

.askButton {
  cursor: pointer;
  font-weight: 500;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: var(--text-color);
  transition: all 0.25s ease;
}

.askButton:hover {
  transform: scale(1.05);
}

.questionsPageContentBottom {
  margin: 2rem 0;
  background: var(--white-color);
  box-shadow: 0 0 8px var(--background-color-darker);
}

.loaderContainer {
  height: 100%;
  display: grid;
  place-items: center;
}

.loaderContainer .gifContainer {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.messageContainer {
  margin-top: 2rem;
}

.messageContainer .message{
  text-align: center;
}

